<form [formGroup]="loginForm" role="form" novalidate >
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="UserName">First name</label>
          <input type="text" class="form-control is-invalid" formControlName="UserName" placeholder="Username" required >
        </div>
        <div class="col-md-4 mb-3">
            <label for="firstname">Password</label>
            <input type="password" class="form-control is-invalid" formControlName="Password" placeholder="Password" required >
        </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="login()" >Login</button>
</form>